@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
    --block-color: powderblue;
    --footer-height: 30px;
    --header-height: 100px;
    --icon-size: 30px;
    --word-input-width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
    font-size: 1.25rem;
}

header {
    flex: 0 var(--header-height);
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    margin: 0px;
}

.navbar {
    background-color: var(--block-color);
    background-color: var(--block-color);
}

.navbar-brand {
    padding: 1em;
    margin: 0px;
    font-size: x-large;
}

.nav-item {
    padding: 0 1em;
}

main {
    flex: 1 calc(100vh - var(--header-height) - var(--footer-height));
    padding-top: 100px;
}

#name-input {
    margin: 1em auto;
    display: block;
}

#icon-btn {
    position: absolute;
    left: calc(50vw + var(--word-input-width) / 2);
    margin-top:-1rem;
    font-size: var(--icon-size);
}

#word-input {
    width: 200px;
}

#notes {
    margin: 1em;
    width: 30vw;
    height: 12vh;
}

footer {
    flex: 0 var(--footer-height);
    background-color: var(--block-color);
    border: 0px;
}

footer a {
    float: right;
}

h1 {
    font-family: 'Merriweather', 'Georgia', 'serif'; 
}

#quote {
    margin-top: -50px;
    margin-bottom: 50px;
}